[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/code_complete"]
	path = bundle/code_complete
	url = git://github.com/scrooloose/code_complete.git
